
 /* index.html*/


  body
  {
   background-color:gray;
  } 
  .mon-logo
  {
	background-color:blue;  
	border:3px solid black;
  }
  
  h1
  {
   background-color:tomato;
   width:80%;
   font-size:80px;
   font-family:serif;
   margin-left:40px;
   padding:15px 100px 15px 150px;
   box-shadow: 16px 16px 16px yellow;
   text-shadow:12px 12px 14px black;
   color:white;
   border:12px white double;
   border-radius:15px;
   font-style:italic;
   font-weight:bolder;
   
  }
  
	
   
  #titre-principal
  {
   color:yellow;
   
  
   font-size:100px;
  }
   
  mark
  {
    
  
   font-size:100px;
   color:yellow;
   background-color:tomato;
  }
  
.Mon-cadre 
   {
    width: 250px;
    background-color: black;
    border-radius: 20px;
    margin-left: 20px;
	box-shadow: 16px 16px 16px yellow;
   }

  
.navbar ul
   {
	border-radius: 20px;

   }
  
.navbar ul li
  {
	list-style-type:footnotes ;
	color:white;
	text-decoration: underline;


  background:url("Images/background.jpg") no-repeat;
  padding-left:18px;
  }

.navbar ul li img
  {
	border:6px gray ridge;
	border-radius: 20px;
	
	
  }
  
  
  