
 /* index.html */

   body
   {
   background-image: url("Images/Background-1.jfif");
   }
  
  .Mon-logo
   {
   display: flex;
   }

  .logo_1
   {
   margin:15px;
   border-top: 15px lightgray ridge; 
   border-left:15px yellow double;
   border-right:15px yellow double;
   border-bottom:35px gray groove; 
   background-color:black;
   border-radius:15px;
   }

   @keyframes changement {
   0%   {background-color:red; left:0px; top:0px;}
   25%  {background-color:yellow; left:200px; top:0px;}
   50%  {background-color:blue; left:200px; top:200px;}
   75%  {background-color:green; left:0px; top:200px;}
   100% {background-color:teal; left:0px; top:0px;}
   }

  h1
  {
   display:flex;
   align-items:center;
   background-color:black;
   font-size:70px;
   font-family:serif;
   padding:3px 80px;
   box-shadow: 16px 16px 16px yellow;
   color:white;
   border:15px gray ridge;
   border-radius:65px;
   border-right-style:dashed;
   border-left-style:dashed;
   border-bottom-style:double;
   font-style:italic;
   font-weight:bolder;
   animation-name: changement;
   position: relative;
   animation-delay: 2s;
   animation-duration: 10s;
   }

  h1 img
  {
   border-radius:15px;
  }
  
  .morceau
  {
   color: white;
   text-shadow:10px 10px 23px yellow;
   margin-left:15px;
  }
  .morceau::first-letter {
  color:red;
  font-size:85px;
  
  }


  .morceau-1
  {
   color:red;
   font-size:50px;
   text-shadow:2px 2px 3px white;
   margin-left:15px;
  }
   
  mark
  {
   display:inline-flex;
   align-items:center;
   color:yellow;
   background:blue;
   border-radius:20px;
   text-decoration:underline;
   border:5px white double;
   text-shadow:3px 3px 6px ghostwhite;
   margin-left:15px;
   padding-left:10px;
  }

   mark img
  {
   margin-left:20px;
   margin-right:10px;
   border-radius:15px;
  }

  
  .carroussel
   {
   float:right;  
   }
  
  .slider
  {
    width: 1900px;
    overflow: hidden;
  }
          
 .slides
  {
    animation: glisse 30s infinite;
    width: calc(500px * 7);
  }
          
  .slide
      {
       float: left;
      }
         
       @keyframes glisse 
          {
            0% 
            {
              transform: translateX(0);
            }

            5% 
            {
              transform: translateX(0);
            }

            15% 
            {
              transform: translateX(-500px);
            }

            20% 
            {
              transform: translateX(-500px);
            }

            30% 
            {
              transform: translateX(-1000px);
            }

            35% 
            {
              transform: translateX(-1000px);
            }

            45% 
            {
              transform: translateX(-1500px);
            }

            50% 
            {
              transform: translateX(-1500px);
            }

            60% 
            {
              transform: translateX(-2000px);
            }

            65% 
            {
              transform: translateX(-2000px);
            }

            75% 
            {
              transform: translateX(-2500px);
            }

            80% 
            {
              transform: translateX(-2500px);
            }

            90% 
            {
              transform: translateX(-3000px);
            }

            95% 
            {
              transform: translateX(-3000px);
            }

            100% 
            {
              transform: translateX(0);
            }

            100% 
            {
              transform: translateX(0);
            }
          }

#corps
{
 
}

.Mon-cadre 
  {
   width: 250px;
   background-color: black;
   border-radius: 20px;
   margin-left: 50px;
   box-shadow: 16px 16px 16px yellow;
   margin-top:100px;
   }
   
.Mon-cadre-f
  {
   width: 250px;
   background-color: black;
   border-radius: 20px;
   margin-left: 50px;
   margin-top:80px;
   box-shadow: 16px 16px 16px yellow;
  }

  
.navbar ul
  {
  border-radius: 20px;
  }
  
.navbar ul li
  {
  color:white;
  text-decoration: underline;
  background:url("Images/background.jpg") no-repeat;
  padding-left:18px;
  }

.navbar ul li img
  {
  border:6px gray ridge;
  border-radius: 20px;
  }
  
 article
  {
   margin-top:80px;
   margin-left:50px;  
   background-color: #706b64;
   border-radius: 8px;
   padding:10px;
   color: white;
   font-size: 0.9em;
   font-family:serif;
   text-align: justify;
   height: 620px;
   width: 300px;
  }
  
  article h2
  {  
   display:inline-flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   text-decoration: double underline;
   color:snow;
   border-radius:10px;
   background-color:#6C3483;
   margin-left:10px;
   margin-right:10px;
   padding:3px;
   border-left:6px white double;

  }

 

  article h2::before 
  {
  content: url(Images/smiley.jpg);
  margin-right: 15px;
  }
  

  

  .informations
  {
   color:yellow;
  }
  
  .cv
  {
   border-right: 15px solid brown;
   padding-left: 46px;
   box-shadow: 15px 0px 8px yellow;
  }

  .livret
  {   
   width: 10%;
   height:300px;
   background-image: url('Images/liseret.jpg');
   border-radius: 15px;
   border: 3px white double;
   padding-top:15px;
  }
  article p
  {
   background-color: #6C3483;
   border-radius:10px;
   padding:10px;
  }


  p
  {
   color: white;
  }








  /* Matériel.html */

   .bordure-menu
   {
    margin:50px;
    border-radius: 20px;
    border:2px yellow solid;
   }

   title
    {
     color:blue;
    }

   

   .pelier-1
   {
    display:inline-block;
    border-radius:20px;
    margin-top:-55px;
    margin-left:50px;
   }

   .Matériel
   {
    margin-top:-10px;
    margin-left:20px;
   }

   ul 
  {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width:250px;
   background-color:tomato;
   border-radius:20px;
  }

  li a 
  {
   display: block;
   color: white;
   text-decoration: none;
   padding:10px 15px;
  }

  li a:hover
  {
   color:yellow;
   background-color:black;
   border:5px brown ridge;
   border-radius:15px;
  }
  
    
